* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
body {	
	height:5000px;
	font-family: 'Open Sans', sans-serif;
}
header {

}
.wrapper {
		width: 75%;
	margin: 0 auto;
}
.wrapper h1 {
	text-align: center;
	    padding: 35px 0;
	     font-size: 40px;
		    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.wrapper-65 {
    width: 65%;
	margin: 0 auto;
}
.header-top {
	width:100%;
	height:110px;
	background-color: white;
}
nav {
		height:110px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav a {
	color:#0071bb;
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		padding: 20px;
}
.header-body {
	background-image: url(img/fabrika.jpg);
	background-attachment: fixed;
	background-color: rgba(51,51,51,0.9);
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
    text-align: center;
    width:100%;
    min-height:830px;
}
.header-body h1 {
	color:white;
	padding-top: 300px;
	font-size: 40px;
font-family: 'Open Sans', sans-serif;
}
.header-body h2 {
	color:white;
	text-transform: uppercase;
font-family: 'Open Sans', sans-serif;
}
.header-body img {
	margin-top:350px;
	opacity: 0.8;
animation: b 1.5s ease-in-out infinite;
}
.header-body img:hover {
	opacity: 1;
}
@keyframes b {
  0% {
/*    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);*/
    transform: translateY(3px);
  }
  50% {
/*    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);*/
    transform: translateY(-3px);
  }
  100% {
/*    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);*/
 transform: translateY(3px);
  }
}
.about {
	background-color: #f2f2f2;
}
.block_title {
	    text-align: center;
 font-size: 40px;
		    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    padding:70px 0 35px 0;
}
.block_title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    width: 60px;
    height: 6px;
    background: #0071bb;
    border-radius: 2px;
}
.about_text {
	padding: 30px 0;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.about_page {
	min-height: 130px;
	width:100%;
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	padding-bottom: 80px;
}
.flexcontainer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
		align-items: center;
		flex-wrap: wrap;
}
.line {
	width:2px;
	height:130px;
	    background-color:#0071bb;
}
.section {
	text-align: center;
    width:400px;
}
.section h3 {
font-weight: 600;
font-size: 24px;
}
.section p {
	font-size: 16px;
	line-height: 1.55;
	font-weight: 300;
}
.advantages {
	background-color: #f2f2f2;
}
.wrapper-white {
	background-color: white;
	 	padding-top:50px;
	 	padding-bottom: 130px;
}
.wrapper-white h1 {
	font-size: 40px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 500;
}
.wrapper_p {
	text-align: center;
	font-size: 24px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 300;
		    line-height: 1.55;
		    
		    	margin: 0 auto;
}
.flexcont {
	padding-top: 100px;
	max-width:960px;
	display: flex;
	flex-direction: column;
	    margin: 0 auto;
	 
}
.flexcont .item {
	    margin: 0 20px;
	    padding-bottom: 65px;
}
.flexcont .item img{
 float:left;
padding-right: 10px;	
}
.flexcont .item h2 {
font-size: 20px;
	 font-family: 'Roboto', sans-serif;
	 margin-bottom: 10px;
}
.flexcont .item p {
	font-size: 18px;
	 font-family: 'Roboto', sans-serif;
		    font-weight: 300;
		    line-height: 1.55;

}
.production {
	background-color: #f2f2f2;
	 padding-top:80px;
	 padding-bottom: 70px;
}
.shop {
	position: relative;
	width: 100%;
	height: 551px;
	background-image: url(img/shop.png);
	background-color: rgba(51,51,51,1);
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
	color:white;
}
.shop h1 {
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top:35%;
	left:15%;
}
.shop a {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255,255,255,0);
	border:1px solid white;
	color:white;
	padding:8px 20px;
	font-size: 24px;
		position: absolute;
	left:17%;
	top:270px;
	font-weight: 300;
}
.shop a:hover {
	background-color: rgba(255,255,255,1);
	transition: 0.2s ease;
	color: #404040;
}
.shop a:active {
	background-color: rgba(255,255,255,0.8);
}