* {
	margin: 0;
	padding: 0;
	outline: none;
}
a {
	text-decoration: none;
}
body {	
	font-family: 'Open Sans', sans-serif;
}
header {

}
main {

}
.wrapper {
		width: 75%;
	margin: 0 auto;
}
.wrapper h1 {
	text-align: center;
	    padding: 30px 0 15px 0;
	     font-size: 40px;
		    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.wrapper-65 {
    width: 65%;
	margin: 0 auto;
}
.header-top {
	width:100%;
	height:90px;
	background-color: white;
}
nav {
		height:90px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav a {
	 display: inline-block;
	color:rgba(0,113,187,0.9);
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		padding: 5px;
}
nav a:hover {
	color: #004f9f;
	border-bottom: 1px dotted #004f9f;
	transition: 0.05s;
}
nav a:active {
	color: #009;
}
.menu-trigger {
	display: none;
    top: 15px;
    font-size: 2.5em;
    color: rgba(0,113,187,1);
    position: absolute;
    right: .25em;
    padding: 0 .25em;
    z-index: 40;
    border-bottom: none;
}
.header-body {
	background-image: url(img/fabrika.jpg);
	background-attachment: fixed;
	background-color: rgba(51,51,51,0.9);
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
    text-align: center;
    width:100%;
    height:830px;
}
.header-body h1 {
	color:white;
	padding-top: 300px;
	font-size: 48px;
font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.header-body h2 {
	color:white;
font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
.header-body button {
	margin-top:50px;
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	 padding: 15px 75px;
	border-radius: 4px;
	background-color: rgba(0,113,187,1);
	cursor: pointer;
	border:1px solid rgba(0,113,187,1);
}
.header-body button:hover {
	background-color: rgba(0,113,187,0.6);
	transition: 0.2s ease;
}
.header-body button:active {
	background-color: rgba(0,113,187,0.7);
}
.header-body img {
	margin-top:250px;
	opacity: 0.8;
animation: b 1.5s ease-in-out infinite;
}
.header-body img:hover {
	opacity: 1;
}
@keyframes b {
  0% {
/*    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);*/
    transform: translateY(3px);
  }
  50% {
/*    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);*/
    transform: translateY(-3px);
  }
  100% {
/*    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);*/
 transform: translateY(3px);
  }
}
.about {
	background-color: #f2f2f2;
}
.block_title {
	    text-align: center;
 font-size: 40px;
		    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    position: relative;
    padding:70px 0 35px 0;
}
.block_title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    width: 60px;
    height: 6px;
    background: #0071bb;
    border-radius: 2px;
}
.about_text {
	padding: 30px 0;
    font-size: 20px;
    line-height: 42px;
    text-align: center;
}
.about_page {
	min-height: 130px;
	width:100%;
	background-color: #f2f2f2;
	display: flex;
	align-items: center;
	padding-bottom: 100px;
}
.flexcontainer {
	width: 100%;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	align-items: center;
}
.line {
	width:2px;
	height:130px;
	    background-color:#0071bb;
}
.section {
	text-align: center;
    max-width:400px;
}
.section h3 {
font-weight: 600;
font-size: 24px;
}
.section p {
	font-size: 16px;
	line-height: 1.55;
	font-weight: 300;
}
.advantages {
	background-color: #f2f2f2;
}
.wrapper-white {
	background-color: white;
	 	padding-top:50px;
	 	padding-bottom: 100px;
}
.wrapper-white h1 {
	font-size: 40px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 500;
}
.wrapper_p {
	text-align: center;
	font-size: 24px;
		    font-family: 'Roboto', sans-serif;
		    font-weight: 300;
		    line-height: 1.55;
		    
		    	margin: 0 auto;
}
.flexcont {
	padding-top: 65px;
	max-width:960px;
	display: flex;
	flex-direction: column;
	    margin: 0 auto;
	 
}
.flexcont .item {
	    margin: 0 20px;
	    padding-bottom: 65px;
}
/*.flexcont .item:last-child {
	padding-bottom:0px;
}*/
.flexcont .item img{
 float:left;
padding-right: 10px;	
}
.flexcont .item h2 {
font-size: 20px;
	 font-family: 'Roboto', sans-serif;
	 margin-bottom: 10px;
}
.flexcont .item p {
	font-size: 18px;
	 font-family: 'Roboto', sans-serif;
		    font-weight: 300;
		    line-height: 1.55;

}
.production {
	background-color: #f2f2f2;
	 padding: 50px 0 100px 0;
}
.shop {
	position: relative;
	width: 100%;
	height: 551px;
	background-image: url(img/shop.png);
	background-color: rgba(51,51,51,1);
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
	color:white;
}
.shop h1 {
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top:35%;
	left:15%;
}
.shop a {
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255,255,255,0);
	border:2px solid white;
	color:white;
	padding:8px 20px;
	font-size: 24px;
		position: absolute;
	left:17%;
	top:270px;
	font-weight: 300;
}
.shop a:hover {
	background-color: rgba(255,255,255,1);
	transition: 0.2s ease;
	color: black;
}
.shop a:active {
	background-color: rgba(255,255,255,0.8);
}
.tech {
	width:100%;
	 padding: 50px 0 100px 0;
	background-color: #f2f2f2;
}
.tech .wrapper {

}
.techflex {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.box {
	margin-top:100px;
width:100%;
min-height:400px;
display: flex;
justify-content: center;
}
.text {
	max-width:540px;
	color:#272727;
		font-family: 'Roboto', sans-serif;
}
.box img {
width: 41.66%;
	 /*filter:brightness(70%)  grayscale(100%);*/
	 border-radius: 3px;
}
/*.box img:hover {
	filter: none;
	transition: 0.2s ease-in;
}*/
.box .img_left {
	padding-right:60px;
}
.box .img_right {
	padding-left:60px;
}
.text h3 {
	font-size: 28px;
	font-weight: 500;
}
.text p {
	font-size: 20px;
	margin: 20px 0px 0px;
	font-weight: 300;
}
.partners {
padding-top: 50px;
padding-bottom: 100px;
}
.flex-partners {
	margin: 0 auto;
	margin-top:150px;
	width: 70%;
	display: flex;
	justify-content: space-between;

}
.contpartner {
	margin:0;
	max-width:200px;
		text-align: center;
}
.contpartner img {
	width: 100%;
}
.contpartner p {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 500;
}
.contpartner a {
	display: inline-block;
	margin-top: 100px;
	font-family: 'Roboto', sans-serif;
	background-color: rgba(255,255,255,0);
	border:1px solid black;
	color:black;
	padding:15px 15px;
	font-size: 18px;
}
.contpartner a:hover {
	background-color: #0071bb;
	border:1px solid #0071bb;
	transition: 0.1s ease;
	color: white;
}
.contpartner a:active {
	background-color: rgba(255,255,255,0.8);
}
.contacts {
background-image: url(img/contacts_back1.jpg);
	background-attachment: fixed;
	background-color: rgba(51,51,51,0.9);
	background-blend-mode: overlay;
	background-position: center;
	background-repeat: no-repeat;
		padding-top:170px;
min-height: 940px;
}
.wrapper_contacts {
	background-color: white;
	min-height: 770px;
}
.flexcontacts {
	display: flex;
	justify-content: space-around;
		margin-top:50px;
}
.rewiew-container {
	width:45%;
}
.rewiew h2 {
	font-size: 18px;
    line-height: 32px;
    color: rgba(0,0,0,0.8);
}
.page-header .page-title {
	margin-bottom: 8px;
    color: rgba(0,0,0,0.9);
        font-size: 40px;
    line-height: 40px;
    	font-weight: 400;
}
form {
	
}
.contact-form {
	margin-top: 20px;
}
.contact-form p {
	margin-bottom: 16px;
    font-size: 18px;
   
}
.contact-form p a{
   color:#212121;
}
.contact-form p a:hover{
    color:#007bff;
   text-decoration: underline;
   transition: 0.1s ease;
}
.contact-form p img {
position: relative;
top:6px;
}
.form-cotrol-wrap {
	position: relative;
}
input[type="text"], input[type="email"] {
	font-size: 18px;
padding: 6px 8px;
    height: 36px;
    line-height: inherit;
}
input[type="button"] {
    position: relative;
    border: 0;
    color: #fff;
    background-color: rgba(0,113,187,0.9);
    padding: 10px 16px;
    margin: 0 4px 0 0;
    min-width: 64px;
    display: inline-block;
    border-radius: 2px;
    cursor: pointer;
}
select, input, textarea {
	color: inherit;
    font-size: 18px;
    line-height: 24px;
    padding: 6px 8px;
    
    border: 1px solid rgba(0,113,187,0.2);
    background: #fff;
    margin-bottom: 6px;
    border-radius: 2px;
    transition: .1s ease-in-out;
    outline: initial;
}
textarea {
    width: 66%;
    line-height: inherit;
    overflow: auto;
    vertical-align: top;
}
article {
	display: block;
}
input[type="button"]:hover {
	background-color: rgba(0,113,187,0.8);
	transition: 0.2s;
}
.contacts_block {
	widows: 45%;
    display: flex;
    flex-direction: column;
    margin-top:50px;
}

.contacts-phone-numbers {
    margin-bottom: 30px;
}
.contact-block p{
font-size: 22px;
}
.contact-block .contacts-phone-numbers span{
 margin-top: 30px;
}
.contact-block .contacts-phone-numbers span a{
font-size: 18px;
color: #003a86;
}
.contact-block .contacts-phone-numbers span a:hover {
	text-decoration: underline;
}
/*.gallery {
	display: flex;
}*/
footer {
	height: 100px;
}
footer .wrapper {
	height:100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}